
/* utility */
.MT_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.MT_section-gap-equal {
  padding: var(--spacing-sm) 0;
}

.MT_section-gap-top {
  padding-top: var(--spacing-xl);
}

.MT_section-gap-bottom {
  padding-bottom: var(--spacing-xl);
}

.MT_section .top-text {
  margin-bottom: var(--spacing-xs);
}

.MT_gap-lg-equal {
  padding: var(--spacing-lg) 0;
}

.MT_gap-lg-bottom {
  padding-bottom: var(--spacing-lg);
}
.MT_gap-lg-top {
  padding-top: var(--spacing-lg);
}

.MT_gap-md-equal {
  padding: var(--spacing-md) 0;
}

.MT_gap-md-bottom {
  padding-bottom: var(--spacing-md);
}
.MT_gap-md-top {
  padding-top: var(--spacing-md);
}

.MT_gap-sm-equal {
  padding: var(--spacing-sm) 0;
}

.MT_gap-sm-bottom {
  padding-bottom: var(--spacing-sm);
}
.MT_gap-sm-top {
  padding-top: var(--spacing-sm);
}

.MT_gap-xs-equal {
  padding: var(--spacing-xs) 0;
}

.MT_gap-xs-bottom {
  padding-bottom: var(--spacing-xs);
}
.MT_gap-xs-top {
  padding-top: var(--spacing-xs);
}

/* =========== main style starts =========*/
body {
  color: var(--clr-body);
  background-color: var(--bg-clr-body-black);
  font-size: var(--fs-sm);
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--ff-primary);
}
body.light {
  color: var(--clr-body-white);
  background-color: var(--bg-clr-body-white);
}

/* ========== header style starts ============ */
.MT_header {
  width: 100%;
  border-bottom: 1px solid #2f2f2f;
}

.light .MT_header {
  border-bottom: 1px solid #dce1e4;
}

.MT_header-inner {
  max-width: 1540px;
  padding: 16px 20px;
  margin: 0 auto;
  gap: var(--spacing-xs);
}

.MT_header.sticky {
  width: 100%;
  background-color: rgba(33, 36, 40, 0.8705882353);
  box-shadow: var(--shadow-1);
  backdrop-filter: blur(15px);
  top: 0;
  position: fixed;
  z-index: 999;
}

.light .MT_header.sticky {
  background-color: rgba(33, 36, 40, 0.8705882353);
}

.light .MT_header.sticky {
  background-color: #ecf0f3;
  box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.1);
}

/* header logo */
.MT_site-logo-wrap {
  padding: 7px 0;
}
.MT_site-logo {
  width: 110px;
}

.MT_site-logo.dark {
  display: none;
}

.MT_site-logo.white {
  display: block;
}

.light .MT_site-logo.dark {
  display: block;
}

.light .MT_site-logo.white {
  display: none;
}

.MT_nav {
  gap: 4%;
}

.MT_nav.hidden {
  display: none !important;
}

.MT_navlink {
  position: relative;
  overflow: hidden;
  letter-spacing: 0.5px;
}

.MT_navlink .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  transition: all var(--transition-slow);
  color: var(--clr-primary);
  max-width: 0.1px;
  overflow: hidden;
}


.MT_navlink:hover .placeholder {
  max-width: 100%;
}

.MT_navlink.active .placeholder {
  max-width: 100%;
}

/* hamberger menu btn */
.MT_vertical-nav-toggler {
  gap: 2.5px;
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 100%;
  position: relative;
  line-height: 57px;
  text-align: center;
  margin-left: 16px;
  transition: 0.3s;
  display: none;
}
.MT_vertical-nav-toggler.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.MT_vertical-nav-toggler:hover {
  transform: scale(1.02);
}

.MT_vertical-nav-toggler span {
  width: 20px;
  min-height: 2.5px;
  border-radius: 2px;
  display: block;
  background: var( --clr-primary);
}

.MT_nav a:hover::before {
  max-height: 999px;
}

#sidebar-toggler-input{
  /* display: none; */
}

/* sidebar */
.MT_sidebar{
  width: 60%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: var(--transition-slow);
  transform: translateX(-110%);
}

#sidebar-toggler-input:checked ~ .MT_sidebar{
  transform: translateX(0);
}




.light .MT_header.sticky {
}
.light .MT_header.sticky {
}
.light .MT_header.sticky {
}
.light .MT_header.sticky {
}

/* ================= 
      Device responsiveness
             ================== */

/* extra large monitor */
@media screen and (max-width: 1680px) {
}

/* large monitor */
@media screen and (max-width: 1440px) {
}

/* small monitor */
@media screen and (max-width: 1240px) {
}

/* tablets ( extra large )  */
@media screen and (max-width: 1023px) {
}

/* tablets ( medium )  */
@media screen and (max-width: 840px) {
}

/* phones ( extra large )  */
@media screen and (max-width: 767px) {
}

/* phones ( small, medium ) */
@media screen and (max-width: 560px) {
}
