/* Recommended CSS for Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Hide the element */
  margin: 0; /* Corrects spacing issues */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Removes the spinner in Firefox */
}

/* utility */
.T_container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.T_section-gap-equal {
  padding: var(--spacing-sm) 0;
}

.T_section-gap-top {
  padding-top: var(--spacing-xl);
}

.T_section-gap-bottom {
  padding-bottom: var(--spacing-xl);
}

.T_section .top-text {
  margin-bottom: var(--spacing-xs);
}

.T_gap-lg-equal {
  padding: var(--spacing-lg) 0;
}

.T_gap-lg-bottom {
  padding-bottom: var(--spacing-lg);
}
.T_gap-lg-top {
  padding-top: var(--spacing-lg);
}

.T_gap-md-equal {
  padding: var(--spacing-md) 0;
}

.T_gap-md-bottom {
  padding-bottom: var(--spacing-md);
}
.T_gap-md-top {
  padding-top: var(--spacing-md);
}

.T_gap-sm-equal {
  padding: var(--spacing-sm) 0;
}

.T_gap-sm-bottom {
  padding-bottom: var(--spacing-sm);
}
.T_gap-sm-top {
  padding-top: var(--spacing-sm);
}

.T_gap-xs-equal {
  padding: var(--spacing-xs) 0;
}

.T_gap-xs-bottom {
  padding-bottom: var(--spacing-xs);
}
.T_gap-xs-top {
  padding-top: var(--spacing-xs);
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

.T_section-title {
  text-align: center;
}

.T_section-subtitle {
  /* margin-top: var(--spacing-xxs); */
  text-align: center;
}

.primary_text {
  color: var(--clr-primary);
}

/* =========== main style starts =========*/
body {
  color: var(--clr-body);
  background-color: var(--bg-clr-body-black);
  font-size: var(--fs-base);
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--ff-primary);
  width: 100%;
  height: 100%;
  font-weight: 400;
  line-height: normal;
}
body.light {
  color: var(--clr-body-white);
  background-color: var(--bg-clr-body-white);
}

input {
  color: var(--clr-body);
}

.light input {
  color: var(--clr-body-white);
}

/* ========== header style starts ============ */
.T_header {
  width: 100%;
  border-bottom: 1px solid #2f2f2f;
}

.light .T_header {
  border-bottom: 1px solid #dce1e4;
}

.T_header-inner {
  max-width: 1380px;
  padding: 16px 20px;
  width: 100%;
  margin: 0 auto;
  gap: var(--spacing-xs);
}

.T_header.sticky {
  width: 100%;
  background-color: rgba(33, 36, 40, 0.8705882353);
  box-shadow: var(--shadow-1);
  backdrop-filter: blur(15px);
  top: 0;
  position: fixed;
  z-index: 999;
}

.light .T_header.sticky {
  background-color: rgba(33, 36, 40, 0.8705882353);
}

.light .T_header.sticky {
  background-color: #ecf0f3;
  box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.1);
}

/* ========= header logo ======= */
.T_site-logo-wrap {
  padding: 7px 0;
}
.T_site-logo {
  width: 110px;
}

.T_site-logo.dark {
  display: none;
}

.T_site-logo.white {
  display: block;
}

.light .T_site-logo.dark {
  display: block;
}

.light .T_site-logo.white {
  display: none;
}

/* ======= navbar ====== */
.T_nav {
  gap: 4%;
}

.T_nav.hidden {
  display: none !important;
}

.T_navlink {
  position: relative;
  overflow: hidden;
  letter-spacing: 0.5px;
}

.T_navlink .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  transition: all var(--transition-slow);
  color: var(--clr-primary);
  max-width: 0.1px;
  overflow: hidden;
}

.T_navlink:hover .placeholder {
  max-width: 100%;
}

.T_navlink.active .placeholder {
  max-width: 100%;
}

/* ===== hamberger menu ======= */
.T_vertical-nav-toggler {
  gap: 2.5px;
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 100%;
  position: relative;
  line-height: 57px;
  text-align: center;
  margin-left: 16px;
  transition: 0.3s;
  display: none;
}

.T_vertical-nav-toggler:hover {
  transform: scale(1.02);
}

.T_vertical-nav-toggler span {
  width: 20px;
  min-height: 2.5px;
  border-radius: 2px;
  display: block;
  background: var(--clr-primary);
}

.T_nav a:hover::before {
  max-height: 999px;
}

#sidebar-toggler-input {
  display: none;
}

/* ======= sidebar ======== */
.T_sidebar {
  display: none;
}

#sidebar-toggler-input:checked ~ .T_sidebar {
  transform: translateX(0);
}

/* ===== footer style starts ===== */
.T_footer {
  border-top: 1px solid #2f2f2f;
  padding-block: var(--spacing-xxs);
  margin-top: var(--spacing-xxs);
}

.T_footer-inner.T_container {
  max-width: 1380px !important;
}

.light .T_footer {
  border-top: 1px solid #dce1e4;
}

.T_footer-logo-wrap {
  max-width: 500px;
}

.T_footer-logo-wrap .T_social-links {
  margin-top: 10px;
  justify-content: start;
  gap: var(--spacing-xxs);
}

.T_footer-logo-wrap .T_social-links a {
  font-size: var(--fs-xl);
}

.T_footer-logo-wrap .T_social-links {
  justify-content: start;
}

.T_quick-links h3,
.T_newslater-wrap h3 {
  margin-bottom: 10px;
}

.T_quick-links .quick-links-container {
  gap: 10px;
}

.T_newslater-wrap .input-group {
  border: 1px solid #383838;
  border-radius: 4px;
  overflow: hidden;
  padding-right: 12px;
}

.T_newslater-wrap .input-group:focus-within {
  border: 1px solid #616161;
}

.light .T_newslater-wrap .input-group {
  border: 1px solid #cdd1d4;
}

.light .T_newslater-wrap .input-group:focus-within {
  border: 1px solid #b6babd;
}

.T_newslater-wrap .input-group input {
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 7px 12px;
  flex-grow: 1;
}

.T_newslater-wrap {
  max-width: 300px;
}

.T_newslater-wrap button {
  background-color: transparent;
  color: var(--clr-body);
  transition-duration: 0.3s;
}

.light .T_newslater-wrap button {
  color: var(--clr-body-white);
}

.T_newslater-wrap button:hover {
  transform: scale(1.15);
}

.T_newslater-wrap p {
  margin-top: 10px;
}

.T_copyright-text {
  padding-top: 30px;
}

.T_copyright-text p {
  text-align: center;
}

/* ======= shared style starts ======= */
.T_page-banner {
  width: 100%;
  position: relative;
  min-height: 450px;
  height: 60vh;
  max-height: 700px;
  background: gray;
  z-index: 0;
}

.T_page-banner .banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.T_page-banner .bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.685);
}

.light .T_page-banner .bg-overlay {
  background: rgba(216, 216, 216, 0.685);
}

.T_page-banner .banner-bg img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.T_page-banner-inner {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
.T_page-banner-content {
  text-align: center;
}

.T_section-title {
  margin-bottom: 15px;
}

/* ========= home page banner ========== */
.T_banner {
  position: relative;
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-xs);
}

.T_banner .T_info-container {
  max-width: 700px;
  padding: var(--spacing-sm) 0;
}

.T_info-container h4 {
  margin-bottom: var(--spacing-xxs);
}
.T_info-container h1 {
  font-size: var(--fs-5xl);
}

.T_info-container h2 {
  gap: 25px;
  font-size: var(--fs-5xl);
  margin-bottom: var(--spacing-xxs);
}

/* ==== skill text animation ====== */
.T_skill_anim_texts {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.T_skill_anim_container {
  color: var(--clr-primary);
}

.T_txt_anim {
  opacity: 0.9;
  font-family: var(--ff-primary);
  animation: flicker 0.2s infinite alternate;
}

@keyframes flicker {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0.9;
  }
}
.T_banner-social-links p {
  margin-bottom: 15px;
}
.T_banner-social-links .social_btn {
  gap: 25px;
}

.T_gradient-btn.download_btn span {
  margin-left: 5px;
}

.T_banner-social-links .T_btn {
  width: var(--spacing-sm);
  height: var(--spacing-sm);
  font-size: var(--fs-lg);
}

/* ====== banner profile ===== */
.T_profile-container .T_profile-card {
  border-radius: 20px;
  overflow: hidden;
}

/* ======= about me section ======= */
.T_about-me-wrapper {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xxs);
}

/* ======== skills section ========= */
.T_section.skills-wrapper {
  padding-top: var(--spacing-xl);
}

.skills_subtitle {
  max-width: 700px;
  margin: 0 auto;
}

/* ======= progress bar ===== */
.skills-wrapper .skills_container {
  flex-wrap: wrap;
  gap: var(--spacing-xxs);
}

.skills-wrapper .T_section-title {
  margin-bottom: 15px;
}

.T_progress-animation {
  width: 45%;
}

.T_progress-header {
  margin-bottom: 0.25rem;
  font-size: var(--fs-base);
  /* color: var(--clr-primary); */
}

.T_progress-bar {
  background: var(--clr-dark-50);
  height: 14px;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow-gray-600);
}

.light .T_progress-bar {
  background: var(--bg-clr-body-white);
  box-shadow: var(--shadow-gray-200);
  border: 1px solid var(--clr-white-400);
}

.T_progress-fill {
  background: var(--clr-body);
  height: 100%;
  width: 0%;
  transition: width 1.5s ease-in-out;
}

.T_section-subtitle {
  margin-bottom: var(--spacing-sm);
  font-weight: 400;
}

/* ======== what i do ======= */
.home_skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-xs);
}

.home_skills_container .T_card {
  padding: var(--spacing-xxs);
  border-radius: var(--radius);
  width: 100%;
}

.home_skills_container .T_card img {
  margin: 0 auto;
  margin-bottom: var(--spacing-xxs);
}

.home_skills_container p {
  margin-top: 10px;
}

/* .home_skills_container */

/* ========
      contact page style starts 
                            ========== */
.T_contact-form {
  max-width: 550px;
  margin: 0 auto;
  padding: var(--spacing-xxs);
  border-radius: 6px;
  gap: 20px;
}

.T_contact-form .double-box {
  gap: 20px;
}

.T_contact-form .input-box {
  width: 100%;
  gap: 6px;
}

.T_contact-form label {
  display: block;
}

.T_contact-form input,
.T_contact-form textarea {
  background: transparent;
  padding: 10px 11px;
  outline: none;
  border: 1px solid #383838;
  border-radius: 4px;
}

.T_contact-form textarea {
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
}

.T_contact-form input:hover,
.T_contact-form input:focus,
.T_contact-form textarea:hover,
.T_contact-form textarea:focus {
  border: 1px solid #616161;
}

.light .T_contact-form input,
.light .T_contact-form textarea {
  border: 1px solid #cdd1d4;
}

.light .T_contact-form input:hover,
.light .T_contact-form input:focus,
.light .T_contact-form textarea:hover,
.light .T_contact-form textarea:focus {
  border: 1px solid #b6babd;
}
.T_contact-form button {
  border: 1px solid #383838;
}

.T_contact-form button {
  border: 1px solid #383838;
}
.light .T_contact-form button {
  border: 1px solid #cdd1d4;
}

.T_contact-form button:hover {
  border: 1px solid #616161;
}
.light .T_contact-form button:hover {
  border: 1px solid #b6babd;
}

/* ======= testimonials ========= */
.testimonials-wrapper .T_section-subtitle {
  max-width: 500px;
  margin-inline: auto;
}
.T_testimonial-container {
  max-width: 800px;
  margin-inline: auto;
  position: relative;
}

.T_testimonial-card .client-profile {
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
}

.T_testimonial-card .client-profile img {
  border-radius: 6px;
  display: block;
}

.T_testimonial-card .client-profile h4 {
  margin-top: 20px;
  margin-bottom: 12px;
}

.T_testimonial-card .client-review {
  max-width: 65%;
}

.T_testimonial-card-wrapper {
  width: 100%;
  padding: 20px;
}

.T_testimonial-card {
  gap: var(--spacing-xxs);
}

.T_testimonial-card i {
  font-size: var(--fs-7xl);
  display: block;
  margin-bottom: 10px;
}

.T_testimonial-card .review-content {
  padding: 20px;
  border-radius: 6px;
}

.T_testimonial-card hr {
  margin: 10px 0;
  border-color: var(--clr-body);
}

.T_testimonial-card .project-details h4 {
  margin-bottom: 3px;
}

.T_testimonial-container .slick-prev {
  position: absolute;
  top: 30px;
  left: 90%;
  z-index: 99;
}
.T_testimonial-container .slick-next {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 99;
}

.T_testimonial-container .slick-next::before,
.T_testimonial-container .slick-prev::before {
  color: var(--clr-body);
}

.light .T_testimonial-container .slick-next::before,
.light .T_testimonial-container .slick-prev::before {
  color: black;
}

/* .T_testimonial-card .client-profile{
  padding: 12px;
  border-radius: 6px;
  overflow: hidden;
} */

/* ================= 
      Device responsiveness
             ================== */

/* extra large monitor */
@media screen and (max-width: 1680px) {
}

/* large monitor */
@media screen and (max-width: 1440px) {
}

/* ===== small monitor ====== */
@media screen and (max-width: 1240px) {
  /* ======= banner ===== */
  .T_banner .T_info-container {
    width: 55%;
    padding: var(--spacing-xxs) 0;
  }
  .T_profile-container {
    width: 35%;
  }

  .T_info-container h4 {
    margin-bottom: 10px;
  }
  .T_info-container h2 {
    margin-bottom: 10px;
  }

  .T_profile-container .T_profile-card {
    width: 100%;
  }
}

/* tablets ( extra large )  */
@media screen and (max-width: 1023px) {
  .T_vertical-nav-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  #T_nav-horizontal {
    display: none;
  }

  /* ===== sidebar ===== */
  #T_sidebar {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: var(--transition-slow);
    transform: translateX(-110%);
    z-index: 9999;
    overflow: hidden;
  }

  #sidebar-toggler-input {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
  }

  .T_sidebar .sidebar-overlay {
    background-color: rgba(18, 18, 18, 0.6);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    transition: 1s;
    opacity: 0;
    transition-delay: 0.3s;
  }

  .light .T_sidebar .sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.49);
  }

  #sidebar-toggler-input:checked ~ .T_sidebar .sidebar-overlay {
    opacity: 1;
  }

  #T_sidebar .sidebar-inner {
    width: 40%;
    min-width: 400px;
    height: 100%;
    background-color: var(--bg-clr-body-black);
    padding: 20px;
  }

  .light #T_sidebar .sidebar-inner {
    background-color: var(--bg-clr-body-white);
  }

  #T_sidebar .T_intro-wrap {
    margin-bottom: var(--spacing-md);
    display: block;
    position: relative;
  }

  #T_sidebar .T_site-logo {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 1px 1px 1px rgba(253, 253, 253, 0.1);
  }

  #T_sidebar .site-logo-wrap {
    margin-bottom: 20px;
  }

  #T_sidebar .sidebar-toggler-close {
    position: absolute;
    right: 0;
  }

  #T_sidebar .intro {
    text-align: center;
  }

  /* ====== sidebar links ====== */
  #T_nav-vertical {
    gap: 20px;
    align-items: center;
  }

  /* ====== social links ======= */
  #T_sidebar .T_social-links {
    margin-top: var(--spacing-md);
    text-align: center;
  }

  .T_social-links .T_flex {
    gap: var(--spacing-xs);
    margin-top: 7px;
  }

  .T_social-links .T_flex i {
    font-size: var(--fs-xl);
  }

  #T_sidebar .sidebar-toggler-close.T_btn {
    color: var(--clr-primary);
    font-size: var(--fs-lg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #T_sidebar .T_site-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  /* ===== banner ====== */
  .T_info-container h2 {
    gap: 18px;
  }
  .T_skill_anim_container {
    overflow: hidden;
    max-height: 45px;
  }

  .T_banner-social-links {
    margin-top: 30px;
  }

  /* ======= footer ===== */
  .T_footer-inner {
    flex-wrap: wrap;
  }

  .T_quick-links {
    min-width: 300px;
  }

  .T_footer-inner {
    gap: var(--spacing-md) var(--spacing-xxs);
  }

  /*  ======== contact page ======== */
  .T_page-banner {
    min-height: 350px;
    max-height: 500px;
  }
}

/* tablets ( medium )  */
@media screen and (max-width: 840px) {
  /* ===== banner ===== */
  .T_info-container h1 {
    font-size: var(--fs-4xl);
  }

  .T_info-container h2 {
    gap: 16px;
    font-size: var(--fs-4xl);
  }

  .T_skill_anim_container {
    max-height: 51px;
  }
}

/* phones ( extra large )  */
@media screen and (max-width: 767px) {
  /* ====== banner ===== */
  .T_banner {
    flex-direction: column-reverse;
    gap: 80px;
  }

  .T_banner .T_info-container {
    width: 100%;
    padding: 0;
  }

  .T_profile-container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  /* ====== skills section ====== */
  .T_progress-animation {
    width: 100%;
  }

  /* ==== testimonials ====== */
  .T_testimonial-card {
    flex-direction: column;
  }
  .T_testimonial-card .client-review {
    max-width: 100%;
  }

  .T_testimonial-card i {
    display: none;
  }
  .T_testimonial-card .client-profile {
    max-width: 350px;
    margin-inline: auto;
  }

  .T_testimonial-container .slick-prev {
    left: 0%;
  }
  .T_testimonial-container .slick-next {
    right: 0;
  }
}

/* phones ( small, medium ) */
@media screen and (max-width: 560px) {
  .T_container {
    padding: 0 16px;
  }
  #T_sidebar .sidebar-inner {
    width: 100%;
    min-width: 200px;
    padding: 16px;
  }

  /* ===== banner ===== */
  .T_banner {
    gap: 50px;
  }

  .T_banner {
    padding-top: 40px;
  }

  .T_skill_anim_container {
    max-height: 29px;
  }

  .T_banner-social-links .social_btn {
    gap: 20px;
  }

  .T_info-container h1,
  .T_info-container h2 {
    font-size: var(--fs-xl);
  }

  .T_info-container h4.uppercase {
    font-size: 15px;
  }

  .T_banner-social-links p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .T_banner-social-links .T_btn {
    width: 40px;
    height: 40px;
  }

  .T_banner-social-links > div {
    flex-wrap: wrap;
    gap: 25px;
  }

  /* ====== contact page ===== */
  .T_contact-form {
    padding: 0px;
  }

  .T_contact-form .double-box {
    flex-direction: column;
  }

  /* === testimonials sections ====== */
  .T_testimonial-container .slick-next,
  .T_testimonial-container .slick-prev {
    display: none !important;
  }

  .T_testimonial-card-wrapper {
    padding: 2px;
  }
}
