/* ===========================
   CSS Reset (Cross-browser)
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
img{
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

p{
  line-height: 1.5;
}

/* ===========================
   Root Variables
=========================== */
:root {
  --clr-primary: #ff014f;
  --clr-secondary: #191b1e;

  --clr-dark-50: #383c42;
  --clr-dark-200: #292d33;
  --clr-dark-400: #23272b;
  --clr-dark-700: #1e2024;
  --clr-dark-900: #1e2024;

  --clr-white-400: #e2e8ec;
  --clr-white-700: #D1D9E6;
  --clr-white-900: #ffffff;

  /* ======= text color ======== */
  /* --clr-body: #878e99; */
  --clr-body: #c0c5ce;
  --clr-body-white: #3c3e41;

  /* ======= background-color ======== */
  --bg-clr-body-black: #212428;
  --bg-clr-body-white: #ecf0f3;

  /* ======= background-color gradient ======== */
  --gradient-bg-black: linear-gradient(
    145deg,
    var(--clr-dark-700),
    var(--clr-dark-400)
  );
  --gradient-bg-black-reverse: linear-gradient(
    145deg,
    var(--clr-dark-700),
    var(--clr-dark-700)
  );
  --gradient-bg-white: linear-gradient(
    145deg,
    var(--clr-white-400),
    var(--clr-white-900)
  );
  --gradient-bg-white-reverse: linear-gradient(145deg, var(--clr-white-400) ,  var(--clr-white-400));

 /* ======= box-shadow ======== */
  --shadow-gray-600: 10px 10px 19px var(--clr-dark-900),
    -10px -10px 19px var(--clr-dark-200);
  --shadow-gray-reverse-600: 10px 10px 10px var(--clr-dark-700),
    -10px -10px 19px var(--clr-dark-400);

    --shadow-gray-200: 10px 10px 19px var(--clr-white-700),
    -10px -10px 19px var(--clr-white-900);
  --shadow-gray-reverse-200: 5px 5px 15px var(--clr-white-700),
  -5px -5px 15px var(--clr-white-900);

  /* ======= transition ======== */
  --transition-slow: 0.4s;
  --transition-medium: 0.3s;
  --transition-fast: 0.2s;


  /* ======= font-weight ======== */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /* ======= font-family ======== */
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;

  /* ======= line-height ======== */
  --lh-normal: normal;
  --lh-b1: 1.9;
  --lh-b2: 1.6;
  --lh-b3: 1.7;

  --spacing-xxs: 25px;
  --spacing-xs: 40px;
  --spacing-sm: 60px;
  --spacing-md: 80px;
  --spacing-lg: 100px;
  --spacing-xl: 120px;

  --radius:12px;

  --transition-fast: 0.2s;
  --transition-normal: 0.3s;
  --transition-slow: 0.4s;

  /* ==== global font size variables ====  */
  --fs-xxs: 11.5px;
  --fs-xs: 12.5px;
  --fs-sm: 14px;
  --fs-base: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-2xl: 27px;
  --fs-3xl: 32px;
  --fs-4xl: 36px;
  --fs-5xl: 40px;
  --fs-6xl: 44px;
  --fs-7xl: 54px;
}

/* =====================
  root variable responsiveness
========================*/

/* Extra Large Monitor (1680px and below) */
@media screen and (max-width: 1680px) {
  :root {
    --fs-md: 17.7px;
    --fs-lg: 19.7px;
    --fs-xl: 23.6px;
    --fs-2xl: 26.5px;
    --fs-3xl: 31.5px;
    --fs-4xl: 35.7px;
    --fs-5xl: 39px;
    --fs-6xl: 43px;
    --fs-7xl: 53px;

    --spacing-xxs: 22px;
    --spacing-xs: 37.86px;
    --spacing-sm: 56.43px;
    --spacing-md: 75px;
    --spacing-lg: 93.58px;
    --spacing-xl: 112.86px;
  }
}

/* Large Monitor (1480px and below) */
@media screen and (max-width: 1480px) {
  :root {
    --fs-md: 17.4px;
    --fs-lg: 19px;
    --fs-xl: 22.2px;
    --fs-2xl: 24.2px;
    --fs-3xl: 28px;
    --fs-4xl: 33.4px;
    --fs-5xl: 38px;
    --fs-6xl: 41.16px;
    --fs-7xl: 51px;

    --radius:10px;

    --spacing-xxs: 20px;
    --spacing-xs: 35.72px;
    --spacing-sm: 52.86px;
    --spacing-md: 70px;
    --spacing-lg: 87.16px;
    --spacing-xl: 105.72px;
  }
}

/* Small Monitor (1240px and below) */
@media screen and (max-width: 1240px) {
  :root {
    --fs-md: 17.1px;
    --fs-lg: 18.1px;
    --fs-xl: 19.8px;
    --fs-2xl: 23.5px;
    --fs-3xl: 26.5px;
    --fs-4xl: 31.1px;
    --fs-5xl: 37px;
    --fs-6xl: 40.74px;
    --fs-7xl: 49.5px;
    

    --spacing-xs: 33.58px;
    --spacing-sm: 49.29px;
    --spacing-md: 65px;
    --spacing-lg: 80.74px;
    --spacing-xl: 98.58px;
  }
}

/* Tablets (Extra Large, 1023px and below) */
@media screen and (max-width: 1023px) {
  :root {
    --fs-base: 15.8px;
    --fs-md: 16.5px;
    --fs-lg: 17.5px;
    --fs-xl: 18.8px;
    --fs-2xl: 22px;
    --fs-3xl: 25.5px;
    --fs-4xl: 29.8px;
    --fs-5xl: 35px;
    --fs-6xl: 39px;
    --fs-7xl: 47px;

    --radius:8px;

    --spacing-xs: 31.44px;
    --spacing-sm: 45.72px;
    --spacing-md: 60px;
    --spacing-lg: 74.32px;
    --spacing-xl: 91.44px;
  }
}

/* Tablets (Medium, 840px and below) */
@media screen and (max-width: 840px) {
  :root {
    --fs-md: 16px;
    --fs-lg: 16.8px;
    --fs-xl: 18px;
    --fs-2xl: 20px;
    --fs-3xl: 23.5px;
    --fs-4xl: 27.5px;
    --fs-5xl: 31px;
    --fs-6xl: 37.9px;
    --fs-7xl: 44.5px;

    --radius:6px;

    --spacing-xxs: 20px;
    --spacing-xs: 29.3px;
    --spacing-sm: 42.15px;
    --spacing-md: 55px;
    --spacing-lg: 67.9px;
    --spacing-xl: 84.3px;
  }
}

/* Phones (Extra Large, 767px and below) */
@media screen and (max-width: 767px) {
  :root {
    --fs-base: 15px;
    --fs-md: 16px;
    --fs-lg: 16.2px;
    --fs-xl: 17px;
    --fs-2xl: 19px;
    --fs-3xl: 21px;
    --fs-4xl: 25px;
    --fs-5xl: 29px;
    --fs-6xl: 35px;
    --fs-7xl: 40px;

    --spacing-xs: 27.16px;
    --spacing-sm: 38.58px;
    --spacing-md: 50px;
    --spacing-lg: 61.48px;
    --spacing-xl: 77.16px;
  }
}

/* Phones (Small, Medium, 560px and below) */
@media screen and (max-width: 560px) {
  :root {
   --fs-base: 15px;
    --fs-md: 15.5px;
    --fs-lg: 16px;
    --fs-xl: 16.5px;
    --fs-2xl: 18px;
    --fs-3xl: 19.5px;
    --fs-4xl: 22px;
    --fs-5xl: 26px;
    --fs-6xl: 31px;
    --fs-7xl: 37px;

    --spacing-xs: 25px;
    --spacing-sm: 35px;
    --spacing-md: 45px;
    --spacing-lg: 55px;
    --spacing-xl: 70px;
  }
}

/* ===========================
   Utility Classes
=========================== */
/* ======== flex box styles =========== */
.T_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex_align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex_align_end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex_justify_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex_justify_end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: end;
  justify-content: end;
}

.flex_justify_between {
  -webkit-box-pack: justify-between;
  -ms-flex-pack: justify-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex_grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex_grow_double {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.flex_shrink {
  -webkit-flex-shrink: 1;
  -ms-flex: 1 1 auto;
  flex-shrink: 1;
}

.flex_shrink_double {
  -webkit-flex-shrink: 2;
  -ms-flex: 1 2 auto;
  flex-shrink: 2;
}

/* ======== test utility ======== */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

/*======= font sizes ======== */
.T_fs-xxs {
  font-size: var(--fs-xxs);
  line-height: var(--lh-normal);
}

.T_fs-xs {
  font-size: var(--fs-xs);
  line-height: var(--lh-normal);
}

.T_fs-sm {
  font-size: var(--fs-sm);
  line-height: var(--lh-normal);
}

.T_fs-base {
  font-size: var(--fs-base);
  line-height: var(--lh-normal);
}

.T_fs-md {
  font-size: var(--fs-md);
  line-height: var(--lh-normal);
}

.T_fs-lg {
  font-size: var(--fs-lg);
  line-height: var(--lh-normal);
}

.T_fs-xl {
  font-size: var(--fs-xl);
  line-height: var(--lh-normal);
}

.T_fs-2xl {
  font-size: var(--fs-2xl);
  line-height: var(--lh-normal);
}

.T_fs-3xl {
  font-size: var(--fs-3xl);
  line-height: var(--lh-normal);
}

.T_fs-4xl {
  font-size: var(--fs-4xl);
  line-height: var(--lh-normal);
}

.T_fs-5xl {
  font-size: var(--fs-5xl);
  line-height: var(--lh-normal);
}

.T_fs-6xl {
  font-size: var(--fs-6xl);
  line-height: var(--lh-normal);
}

/* ======= button style ====== */
.T_btn {
  transition: all var(--transition-slow);
  background: var(--gradient-bg-black);
  box-shadow: var(--shadow-gray-600);
  color: var(--clr-body);
  border-radius: var(--radius);
}

.T_btn:hover {
  background: var(--gradient-bg-black-reverse);
  box-shadow: var(--shadow-gray-reverse-400);
}

.light .T_btn {
  color: var(--clr-body-white);
  background: var(--gradient-bg-white);
  box-shadow: var(--shadow-gray-200);
}
.light .T_btn:hover {
  background: var(--gradient-bg-white-reverse);
  box-shadow: var(--shadow-gray-reverse-200);
}


.light .T_btn::after {
  box-shadow: var(--shadow-white-3);
  background: var(--gradient-box-w);
}


/* ======= gradient button ====== */

.T_btn-wrapper {
  position: relative;
  display: inline-block;
  z-index: 1;
}


.T_gradient-btn {
  display: block;
  font-size: var(--fs-base);
  line-height: var(--lh-normal);
  padding: 12px 20px;
  color: var(--clr-body);
  background: var(--gradient-bg-black);
	border-radius: 50px;
  border: 0px;
  cursor: pointer;
}

.light .T_gradient-btn {
  color: var(--clr-body-white);
  background: var(--gradient-bg-white);
}

.T_gradient-border-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #FF8038 0%, #FF0099 30.43%, #00EBEB 68.23%, #DB00FF 100%);
  background-size: 600% 600%;
  border-radius: 50px;
  animation: MTAnimateGradientBorder 4s ease infinite;
  -webkit-animation: MTAnimateGradientBorder 4s ease infinite;
  -moz-animation: MTAnimateGradientBorder 4s ease infinite;
  z-index: -1;
  transform: translate(-2px, -2px);
  transition: filter 1s ease-in;
}

.T_btn-wrapper:hover .T_gradient-btn {
  /* color: var(--clr-primary); */
}


@-webkit-keyframes MTAnimateGradientBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MTAnimateGradientBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MTAnimateGradientBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



/* ======= card border and shadow ====== */
.T_card{
  transition: all var(--transition-slow);
  background: var(--gradient-bg-black);
  box-shadow: var(--shadow-gray-600);
}

.T_card:hover{  
  transform: translateY(-5px);
  background: var(--gradient-bg-black-reverse);
  box-shadow: var(--shadow-gray-reverse-600);
}

.light .T_card{
  background: var(--gradient-bg-white);
  box-shadow: var(--shadow-gray-200);
}

.light .T_card:hover{
  background: var(--gradient-bg-white-reverse);
  box-shadow: var(--shadow-gray-reverse-200);
}

/* ===========================
   Browser Compatibility
=========================== */
/* Fix for older versions of Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    font-family: "Arial", sans-serif;
  }
}

/* Fix for Safari */
@supports (-webkit-touch-callout: none) {
  input,
  textarea {
    font-size: inherit;
  }
}

/* Fix for older versions of Firefox */
@-moz-document url-prefix() {
  input[type="number"] {
    appearance: textfield;
  }
}







